<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
    <table align="center" border="1">
        <thead>
        <tr align="center" bgcolor="lightgreen">
            <th>글번호</th>
            <th>작성자</th>
            <th>제목</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody th:if="${boardList.isEmpty()}">
        <tr height="10">
            <td colspan="4">
                <p align="center">
                    <b><span style="font-size: 9pt">등록된 글이 없습니다.</span></b>
                </p>
            </td>
        </tr>
        </tbody>
        <tbody th:unless="${boardList.isEmpty()}">
        <tr align="center" th:each="article:${boardList}">
            <td width="5%">[[${articleStat.count}]]</td>
            <td width="10%">[[${article.writer.name}]]</td>
            <td align="left" width="35%">
                <span style="padding-right: 30px;"></span>
                <a class="cls1" th:href="@{/board/view(no=${article.id})}">[[${article.title}]]</a>
            </td>
            <td width="10%">[[${article.writeDate}]]</td>
        </tr>
        </tbody>
    </table>
    <h1 align="center"><a th:href="@{/board/add}">글쓰기</a></h1>
</body>
</html>