<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Index</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Home</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" th:if="${session.loggedInUser}">
                <span class="nav-link" th:text="${session.loggedInUser.getName() + '님'}"></span>
            </li>
            <li class="nav-item" th:if="${session.loggedInUser}">
                <a class="nav-link" th:href="@{/user/logout}">로그아웃</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/sign-up}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/sign-in}">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/board/list}">Board</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title"><a class="btn btn-primary btn-lg btn-block" th:href="@{/user/sign-up}">Sign Up</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title"><a class="btn btn-success btn-lg btn-block" th:href="@{/user/sign-in}">Sign In</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title"><a class="btn btn-info btn-lg btn-block" th:href="@{/board/list}">Board</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
