<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjh.mapper.BoardMapper">
    <select id="selectAll" resultType="com.hjh.demo.model.BoardDTO">
        SELECT * FROM board
    </select>

    <select id="selectOne" parameterType="int" resultType="com.hjh.demo.model.BoardDTO">
        SELECT * FROM board
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.hjh.demo.model.BoardDTO">
        INSERT INTO board(title, content, writer_id, entry_date, modify_date)
        VALUES(#{title}, #{content}, #{writer_id}, NOW(), NOW())
    </insert>

    <update id="update" parameterType="com.hjh.demo.model.BoardDTO">
        UPDATE board
        SET title = #{title},
            content = #{content}
        WHERE id = #{id}
    </update>
</mapper>