<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjh.mapper.BulletinMapper">
    <select id="selectAll" resultType="com.hjh.demo.model.BulletinDTO">
        SELECT * FROM bulletin
    </select>

    <select id="selectOne" parameterType="int" resultType="com.hjh.demo.model.BulletinDTO">
        SELECT * FROM bulletin
        WHERE 'article_no' = #{article_no}
    </select>

    <insert id="insert" parameterType="com.hjh.demo.model.BulletinDTO">
        INSERT INTO bulletin('title', 'content', 'write_date', 'writer_id')
        VALUES(#{title}, #{content}, NOW(), #{writer_id})
    </insert>

    <update id="update" parameterType="com.hjh.demo.model.BulletinDTO">
        UPDATE bulletin
        SET 'title' = #{title},
            'content' = #{content}
        WHERE 'article_no' = #{article_no}
    </update>
</mapper>