<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjh.mapper.ReplyMapper">
    <select id="selectAll" resultType="replyDTO">
        SELECT * FROM reply
        inner join board
        on board_id = board.id
    </select>

    <select id="selectOne" parameterType="int" resultType="replyDTO">
        SELECT * FROM reply
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="replyDTO">
        INSERT INTO reply(content, writer_id, board_id, entry_date, modify_date)
        VALUES (#{content}, #{writerId}, #{boardId}, NOW(), NOW())
    </insert>

    <update id="update" parameterType="replyDTO">
        UPDATE reply
        SET content = #{content},
            modify_date = NOW()
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        Delete from reply
        where id = #{id}
    </delete>
</mapper>